body{
	background-image:url("img/griptape.jpg");
	 background-repeat: repeat-y repeat-x;
}
h1{
	font:fantasy;
}
#header{
	background-color: purple;
	padding-top:1px;
	padding-bottom:1px;  
	margin: -8px;
	border-bottom: 2px solid darkgrey;
}


/* Dropdown Button */
.dropbtn {
    background-color: grey;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    position: relative;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    border:1px solid black;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: purple}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: lightgrey;
    color: black;
}




#sidebar{
	width: 136px;
    float: left;
    position: relative;
    display: block;
    background-color: lightgrey;
    margin: 15px 0 0px 0px;
    padding: 2px 0px 2px 2px;
    border: purple solid 3px;
}
#menu{
	list-style-type: none;
	position: relative;
	left: -28px;
}
li{
	margin: 10px auto;
	padding:0px;
}
a{
    margin: 10px auto;
    text-align: center;
    padding:0px;
    text-decoration: blink;
    color: purple;
}
img-postpic{
	height: 100px;
	width: 100px;
}
a:hover,
a:focus {
  text-decoration: underline;
  background-color: grey;
}
#posts{
	float: left;
    background-color: grey;
    color:black;
    margin: 15px 50px 0px 15px;
    border-radius: 10px;
    padding: 5px;
    position: static;
}
section div.panel{
	align-items: center;
    position: relative;
    width: 250px;
    height:250px;
    float: inherit;
    margin: 0 .5em 2em .5em;
    padding: 1em;
    background-color: #fff;
    border: #ccc solid 1px;
}
footer {
	background-color: purple;
    padding: 0px 0px 1px 0px;
    text-align: center;
    margin: 0px -8px -8px -8px;
    border-top: 2px solid darkgrey;
    position: relative;
    top: 666px;
}
p {
	text-align:center;
}